* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --font-family-default: 'Roboto', sans-serif;
  --font-size-default: 16px;
}

body {
  box-sizing: border-box;
  padding: 16px;
  font-size: var(--font-size-default);
  font-family: var(--font-family-default);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 16px;
}

input {
  grid-column: span 2;
  width: 50ch;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  font: inherit;
}

.pane {
  display: flex;
  border: 1px solid black;
  border-radius: 4px;
  padding: 24px;
}

.pane:nth-of-type(1),
.days {
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.days {
  flex-grow: 1;
  display: flex;
}
